server/ServiceHost/eHCMSServices/Service References/BankingPaymentServiceReference/BankingPaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankingPaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankingPaymentService_CanPay_InputMessage">
    <wsdl:part name="parameters" element="tns:CanPay" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_CanPay_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanPayResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Pay_InputMessage">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Pay_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Refund_InputMessage">
    <wsdl:part name="parameters" element="tns:Refund" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Refund_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefundResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_MapCard_InputMessage">
    <wsdl:part name="parameters" element="tns:MapCard" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_MapCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapCardResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_HasCard_InputMessage">
    <wsdl:part name="parameters" element="tns:HasCard" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_HasCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasCardResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_UnmapCard_InputMessage">
    <wsdl:part name="parameters" element="tns:UnmapCard" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_UnmapCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnmapCardResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankingPaymentService">
    <wsdl:operation name="CanPay">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/CanPay" message="tns:IBankingPaymentService_CanPay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/CanPayResponse" message="tns:IBankingPaymentService_CanPay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Pay" message="tns:IBankingPaymentService_Pay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/PayResponse" message="tns:IBankingPaymentService_Pay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Refund" message="tns:IBankingPaymentService_Refund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/RefundResponse" message="tns:IBankingPaymentService_Refund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/MapCard" message="tns:IBankingPaymentService_MapCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/MapCardResponse" message="tns:IBankingPaymentService_MapCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/HasCard" message="tns:IBankingPaymentService_HasCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/HasCardResponse" message="tns:IBankingPaymentService_HasCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnmapCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/UnmapCard" message="tns:IBankingPaymentService_UnmapCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/UnmapCardResponse" message="tns:IBankingPaymentService_UnmapCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Deposit" message="tns:IBankingPaymentService_Deposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/DepositResponse" message="tns:IBankingPaymentService_Deposit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankingPaymentService" type="tns:IBankingPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanPay">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/CanPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Refund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapCard">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/MapCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasCard">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/HasCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnmapCard">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/UnmapCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingPaymentService">
    <wsdl:port name="BasicHttpBinding_IBankingPaymentService" binding="tns:BasicHttpBinding_IBankingPaymentService">
      <soap:address location="http://172.25.200.214/PublicBanking/BankingPaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>