server/ServiceHost/eHCMSServices/Service References/BankingPaymentServiceReference/BankingPaymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" />
  <xs:element name="CanPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHospital" type="xs:boolean" />
        <xs:element minOccurs="0" name="patientRegistrationId" type="xs:long" />
        <xs:element minOccurs="0" name="patientId" type="xs:long" />
        <xs:element minOccurs="0" name="settlementAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="staffID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanPayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="CanPayResult" nillable="true" type="q1:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHospital" type="xs:boolean" />
        <xs:element minOccurs="0" name="patientRegistrationId" type="xs:long" />
        <xs:element minOccurs="0" name="patientId" type="xs:long" />
        <xs:element minOccurs="0" name="settlementAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="staffID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="PayResult" nillable="true" type="q2:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHospital" type="xs:boolean" />
        <xs:element minOccurs="0" name="patientRegistrationId" type="xs:long" />
        <xs:element minOccurs="0" name="patientId" type="xs:long" />
        <xs:element minOccurs="0" name="transactionId" type="xs:long" />
        <xs:element minOccurs="0" name="settlementAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="staffID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="RefundResult" nillable="true" type="q3:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHospital" type="xs:boolean" />
        <xs:element minOccurs="0" name="patientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifyCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acctNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="issueDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="MapCardResult" nillable="true" type="q4:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="HasCardResult" nillable="true" type="q5:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnmapCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHospital" type="xs:boolean" />
        <xs:element minOccurs="0" name="patientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifyCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnmapCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="UnmapCardResult" nillable="true" type="q6:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHospital" type="xs:boolean" />
        <xs:element minOccurs="0" name="patientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifyCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settlementAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="staffId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="DepositResult" nillable="true" type="q7:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>