server/aEMRServices/BillingPaymentService/BillingPaymentWcfServiceLib/Connected Services/BankingPaymentServiceReference/BankingPaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankingPaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankingPaymentService_Func1_InputMessage">
    <wsdl:part name="parameters" element="tns:Func1" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func1Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func2_InputMessage">
    <wsdl:part name="parameters" element="tns:Func2" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func2Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func3_InputMessage">
    <wsdl:part name="parameters" element="tns:Func3" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func3Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func4_InputMessage">
    <wsdl:part name="parameters" element="tns:Func4" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func4_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func4Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func5_InputMessage">
    <wsdl:part name="parameters" element="tns:Func5" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func5_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func5Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func6_InputMessage">
    <wsdl:part name="parameters" element="tns:Func6" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func6_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func6Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func7_InputMessage">
    <wsdl:part name="parameters" element="tns:Func7" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func7_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func7Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func8_InputMessage">
    <wsdl:part name="parameters" element="tns:Func8" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func8_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func8Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func9_InputMessage">
    <wsdl:part name="parameters" element="tns:Func9" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func9_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func9Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func10_InputMessage">
    <wsdl:part name="parameters" element="tns:Func10" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func10_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func10Response" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func11_InputMessage">
    <wsdl:part name="parameters" element="tns:Func11" />
  </wsdl:message>
  <wsdl:message name="IBankingPaymentService_Func11_OutputMessage">
    <wsdl:part name="parameters" element="tns:Func11Response" />
  </wsdl:message>
  <wsdl:portType name="IBankingPaymentService">
    <wsdl:operation name="Func1">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func1" message="tns:IBankingPaymentService_Func1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func1Response" message="tns:IBankingPaymentService_Func1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func2">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func2" message="tns:IBankingPaymentService_Func2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func2Response" message="tns:IBankingPaymentService_Func2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func3">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func3" message="tns:IBankingPaymentService_Func3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func3Response" message="tns:IBankingPaymentService_Func3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func4">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func4" message="tns:IBankingPaymentService_Func4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func4Response" message="tns:IBankingPaymentService_Func4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func5">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func5" message="tns:IBankingPaymentService_Func5_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func5Response" message="tns:IBankingPaymentService_Func5_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func6">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func6" message="tns:IBankingPaymentService_Func6_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func6Response" message="tns:IBankingPaymentService_Func6_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func7">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func7" message="tns:IBankingPaymentService_Func7_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func7Response" message="tns:IBankingPaymentService_Func7_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func8">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func8" message="tns:IBankingPaymentService_Func8_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func8Response" message="tns:IBankingPaymentService_Func8_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func9">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func9" message="tns:IBankingPaymentService_Func9_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func9Response" message="tns:IBankingPaymentService_Func9_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func10">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func10" message="tns:IBankingPaymentService_Func10_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func10Response" message="tns:IBankingPaymentService_Func10_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Func11">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingPaymentService/Func11" message="tns:IBankingPaymentService_Func11_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingPaymentService/Func11Response" message="tns:IBankingPaymentService_Func11_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankingPaymentService" type="tns:IBankingPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Func1">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func2">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func3">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func4">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func5">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func6">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func7">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func8">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func8" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func9">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func9" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func10">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Func11">
      <soap:operation soapAction="http://tempuri.org/IBankingPaymentService/Func11" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingPaymentService">
    <wsdl:port name="BasicHttpBinding_IBankingPaymentService" binding="tns:BasicHttpBinding_IBankingPaymentService">
      <soap:address location="http://172.25.200.214/PublicBanking/BankingPaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>