server/aEMRServices/BillingPaymentService/BillingPaymentWcfServiceLib/Connected Services/BankingPaymentServiceReference/BankingPaymentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransactionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSucceed" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" type="xs:long" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettlementAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionResponse" nillable="true" type="tns:TransactionResponse" />
</xs:schema>