server/aEMRServices/BillingPaymentService/BillingPaymentWcfServiceLib/Connected Services/BankingPaymentServiceReference/BankingPaymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.25.200.214/PublicBanking/BankingPaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" />
  <xs:element name="Func1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func1Result" nillable="true" type="q1:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func2Result" nillable="true" type="q2:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func3Result" nillable="true" type="q3:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func4Result" nillable="true" type="q4:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func5">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func5Result" nillable="true" type="q5:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func6">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func6Result" nillable="true" type="q6:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func7">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func7Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func7Result" nillable="true" type="q7:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func8">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func8Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func8Result" nillable="true" type="q8:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func9">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func9Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func9Result" nillable="true" type="q9:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func10">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func10Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func10Result" nillable="true" type="q10:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func11">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Func11Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BankingPaymentService.Dto.DataContract" minOccurs="0" name="Func11Result" nillable="true" type="q11:TransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>